In [1]:
import numpy as np
import pandas as pd

In [4]:
data = np.random.randint(1,10,(4,5))

In [5]:
data

array([[1, 2, 9, 7, 5],
       [4, 7, 6, 6, 6],
       [9, 8, 1, 4, 8],
       [1, 7, 4, 1, 5]])

In [7]:
df = pd.DataFrame(data,["A","B","C","D"],["U","W","X","Y","Z"])

In [8]:
df

   U  W  X  Y  Z
A  1  2  9  7  5
B  4  7  6  6  6
C  9  8  1  4  8
D  1  7  4  1  5

In [9]:
type(df)

pandas.core.frame.DataFrame

In [11]:
type(df["W"])

pandas.core.series.Series

In [12]:
df[["W","Y"]]

   W  Y
A  2  7
B  7  6
C  8  4
D  7  1

In [13]:
df["Q"] = [13,24,46,68]

In [14]:
df

   U  W  X  Y  Z   Q
A  1  2  9  7  5  13
B  4  7  6  6  6  24
C  9  8  1  4  8  46
D  1  7  4  1  5  68

In [16]:
df.drop("Q",1,inplace= True)

C:\Users\HP\AppData\Local\Temp/ipykernel_628/278744202.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop("Q",1,inplace= True)

In [17]:
df

   U  W  X  Y  Z
A  1  2  9  7  5
B  4  7  6  6  6
C  9  8  1  4  8
D  1  7  4  1  5

In [18]:
df.loc("B")

ValueError: No axis named B for object type DataFrame

In [20]:
df.loc["B"]

U    4
W    7
X    6
Y    6
Z    6
Name: B, dtype: int32

In [21]:
df.iloc[2]

U    9
W    8
X    1
Y    4
Z    8
Name: C, dtype: int32

In [22]:
df.loc["C","Y"]

4

In [23]:
df.loc[["A","B"],["W","Y"]]

   W  Y
A  2  7
B  7  6

In [24]:
df

   U  W  X  Y  Z
A  1  2  9  7  5
B  4  7  6  6  6
C  9  8  1  4  8
D  1  7  4  1  5

In [25]:
df["X"] > 5

A     True
B     True
C    False
D    False
Name: X, dtype: bool

In [26]:
df[df["X"] > 5]

   U  W  X  Y  Z
A  1  2  9  7  5
B  4  7  6  6  6

In [27]:
df[df["X"] > 5]["Z"]

A    5
B    6
Name: Z, dtype: int32

In [28]:
df

   U  W  X  Y  Z
A  1  2  9  7  5
B  4  7  6  6  6
C  9  8  1  4  8
D  1  7  4  1  5

In [29]:
(df["W"] > 3)& (df["Y"] > 5)

A    False
B     True
C    False
D    False
dtype: bool